@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    font-family: poppins;
    margin: 0 auto;
    /* border: 1px solid #B19CD9; */
}
.header {
    width: 1923px;
    height: 807px;
    background-image: linear-gradient(#fff, rgba(35, 46, 209, 0.4));
}
/*navigation bar*/
.product > li{
    font-weight: 600;
    color: #232ED1;
}
.navbar {
    display: flex;
    width: 1420px;
    height: 60px;
    margin-top: 20px;
}

.navLinks {
    display: flex;
    list-style: none;
    margin-left: 172px;
    position: absolute;
    margin-top: 15px;
}

.navLinks > a {
    margin-left: 33px;
    color: #333;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    margin-left: 0px;
}

.container {
    margin-right: 0px;
}

.cloneProjectButton {
    height: 50px;
    width: 165px;
    border-radius: 5px;
    border: 2px solid rgba(35, 46, 209, 0.4);
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}


/* Banner*/
.banner {
    display: flex;
    width: 1420px;
    height: 507px;
    align-items: center;
    display: flex;
    margin-top: 96px;
}

.title {
    margin-left: 0px;
}

.title > h1 {
    color: #0D1317;
    font-size: 60px;
    width: 552px;
    height: 204px;
    font-weight: 600;
    line-height: 68px;
    text-align: left;

}
.title > h2 {
    color: #5B5B5B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 567px;
    height: 72px;
    margin-top: 48px;
    text-align: left;
}

.image {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 507px;
    position: relative;
    margin-right: 0px;
}


.firstColumnHeader {
    width: 155px;
    height: 247px;
    position: absolute;
    bottom: 0;
    margin-left: 128px;
}
.blueSqrHeader {
    width: 48px;
    height: 48px;
    background-color: #232ED1;
    border-radius: 0px 0px 12px 0px;
    margin-bottom: 32px;
    float: right;
}

.firstColumnHeader > img {
    width: 155px;
    height: 167px;
    border-radius: 36px 0px 0px 0px;
} 

.secondColumnHeader {
    width: 438px;
    height: 507px;
    margin-left: 335px;
    position: absolute;
    right: 7%;
}

.secondColumnHeader > img {
    border-radius: 0px 0px 148px 0px;
    width: 438px;
    height: 507px;
    bottom: 0;
    position: absolute;
}

.thirdColumnHeader {
    position: absolute;
    right: 0;
}

.redSqrHeader {
    width: 32px;
    height: 32px;
    background-color: #F24C27;
    border-radius: 0px 0px 0px 12px;
    z-index: 100;
}

/*Body*/
.body {
    align-items: center;
    text-align: center;
    margin-top: 128px;
}
.customerSupport {
    display: flex;
    margin-top: 80px;
}

.customerSupportContainer {
    width: 1345px;
    height: 462px;
}

.customerSupportContainer > h1 {
    width: 782px;
    height: 112px;
    font-size: 46px;
    text-align: left;
    margin-left: 0px;
}

.parrentCustomerSupport {
    width: 374px;
    height: 270px;
    text-align: left;
}

.parrentCustomerSupport > div {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgba(35, 46, 209, 0.01), rgba(35, 46, 209, 0.2));
    margin-left: 0px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    display: flex;
}

.parrentCustomerSupport > div > img {
    width: 32px;
    height: auto;
}

.parrentCustomerSupport > h1 {
    margin-top: 32px;
    font-size: 24px;
}

.parrentCustomerSupport > p {
    margin-top: 16px;
    font-size: 18px;
}

/*feature*/
h4 {
    display: flex;
    flex-direction: row;
}

/*Work From Anywhere*/
.workFromAnywhere {
    width: 1420px;
    height: 526px;
    display: flex;
    margin-top: 125px;
}

.theMap {
    background-image: linear-gradient(rgba(148, 153, 221, 0.2), rgba(0, 16, 255, 0.3));
    width: 731px;
    height: 523px;
    border-radius: 24px 24px 0px 24px;
    position: relative;
}

.theMap > img {
    margin-top: 75px;
    border-radius: 3%;
}

.theMapDescription {
    width: 689px;
    height: 526px;
    text-align: left;
}

.theMapDescription > h3{
    color: #232ED1;
    font-size: 18px;
    margin-top: 98px;
    margin-left: 81px;
}

.theMapDescription > h1{
    font-size: 48px;
    height: 56px;
    margin-top: 16px;
    margin-left: 81px;
}

.theMapDescription > p {
    width: 512px;
    height: 92px;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 81px;
}

.theMapDescription > h4 {
    width: 129px;
    height: 31px;
    margin-top: 16px;
    margin-left: 81px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

/*Chat live with the support Team*/
.chatLiveWithSupport {
    width: 1420px;
    height: 526px;
    display: flex;
    margin-top: 125px;
    text-align: left;
}

.chatImg {
    background-image: linear-gradient(rgba(255, 204, 192, 0.2), rgba(242, 76, 39, 0.3));
    width: 731px;
    height: 523px;
    border-radius: 24px 24px 24px 0px;
    position: relative;
}

.chatImg > img {
    width: 500px;
    height: 353px;
    position: absolute;
    margin-top: 85px;
    margin-left: 115px;
    border-radius: 3%;
}

.chatLiveDescription {
    width: 689px;
    height: 526px;
}

.chatLiveDescription > h3{
    color: #232ED1;
    font-size: 18px;
    margin-top: 98px;
    margin-left: 81px;
}

.chatLiveDescription > h1{
    font-size: 48px;
    width: 500px;
    height: 112px;
    margin-top: 16px;
    margin-left: 81px;
}

.chatLiveDescription > p {
    width: 512px;
    height: 92px;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 81px;
}

.chatLiveDescription > h4 {
    width: 129px;
    height: 31px;
    margin-top: 16px;
    margin-left: 81px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

/*Analytics At your fingertips*/
.analyticAtYourFin {
    width: 1420px;
    height: 526px;
    display: flex;
    margin-top: 125px;
    text-align: left;
}

.clientreplies {
    background-image: linear-gradient(rgba(148, 153, 221, 0.2), rgba(0, 16, 255, 0.3));
    width: 731px;
    height: 523px;
    border-radius: 24px 24px 0px 24px;
    position: relative;
}

.clientreplies > img {
    margin-top: 125px;
    border-radius: 3%;
    margin-left: 116px;
}
.aAYFDescription {
    width: 689px;
    height: 526px;
}

.aAYFDescription > h3{
    color: #232ED1;
    font-size: 18px;
    margin-top: 98px;
    margin-left: 81px;
}

.aAYFDescription > h1{
    font-size: 48px;
    width: 398px;
    height: 112px;
    margin-top: 16px;
    margin-left: 81px;
}

.aAYFDescription > p {
    width: 512px;
    height: 92px;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 81px;
}

.aAYFDescription > h4 {
    width: 129px;
    height: 31px;
    margin-top: 16px;
    margin-left: 81px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

/*Stay Connected With Your Customers*/
.stayConnectedWith {
    width: 1420px;
    height: 526px;
    display: flex;
    margin-top: 125px;
    text-align: left;
}

.clientrating {
    background-image: linear-gradient(rgba(255, 204, 192, 0.2), rgba(242, 76, 39, 0.3));
    width: 731px;
    height: 523px;
    border-radius: 24px 24px 24px 0px;
    position: relative;
}

.clientrating > img {
    width: 500px;
    height: 353px;
    position: absolute;
    margin-top: 85px;
    margin-left: 115px;
    border-radius: 3%;
}

.sCWFDescription {
    width: 689px;
    height: 526px;
}

.sCWFDescription > h3{
    color: #232ED1;
    font-size: 18px;
    margin-top: 98px;
    margin-left: 81px;
}

.sCWFDescription > h1{
    font-size: 48px;
    width: 500px;
    height: 112px;
    margin-top: 16px;
    margin-left: 81px;
}

.sCWFDescription > p {
    width: 512px;
    height: 92px;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 81px;
}

.sCWFDescription > h4 {
    width: 129px;
    height: 31px;
    margin-top: 16px;
    margin-left: 81px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}
/*Stay Up to Date With Your Live Alerts*/
.stayUptoDate {
    width: 1420px;
    height: 526px;
    display: flex;
    margin-top: 125px;
    text-align: left;
}

.twodata {
    background-image: linear-gradient(rgba(148, 153, 221, 0.2), rgba(0, 16, 255, 0.3));
    width: 731px;
    height: 523px;
    border-radius: 24px 24px 0px 24px;
    position: relative;
}

.twodata > img {
    position: absolute;
    margin-top: 85px;
    margin-left: 115px;
    border-radius: 3%;
    width: 500px;
    height: 353px;
}

.sUTDFDescription {
    width: 689px;
    height: 526px;
}

.sUTDFDescription > h3{
    color: #232ED1;
    font-size: 18px;
    margin-top: 98px;
    margin-left: 81px;
}

.sUTDFDescription > h1{
    font-size: 48px;
    width: 500px;
    height: 112px;
    margin-top: 16px;
    margin-left: 81px;
}

.sUTDFDescription > p {
    width: 512px;
    height: 92px;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 81px;
}

.sUTDFDescription > h4 {
    width: 129px;
    height: 31px;
    margin-top: 16px;
    margin-left: 81px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}
 /* secon banner */
.secondBanner {
    width: 1420px;
    height: 868px;
    margin-top: 128px;
    position: relative;
}

.squareBanner {
    width: 507px;
    height: 398px;
    position: absolute;
    bottom: 0;
    right: 0;
}

 .imgFreelancer {
    width: 1258px;
    height: 792px;
    margin-left: 0px;
    z-index: -1;
}

.orangeSqrBanner2 {
    width: 505px;
    height: 319px;
    background-color: #F24C27;
    border-radius:24px 0px 0px 0px;
    z-index: 5;
    margin-bottom: 0px;
}

.blueSqrBanner2 {
    width: 48px;
    height: 48px;
    background-color: #232ED1;
    border-radius: 0px 0px 0px 12px;
    z-index: 5;
    margin-bottom: 33px;
    margin-right: 74px;
}

/*-----------------------------------------------------------------*/
/*footer*/
.footer {
    width: 1920px;
    height: 1015px;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}
/*Get Started with Finsweet today*/

.firstPartFooter {
    width: 1920px;
    height: 950px;
    align-items: center;
    position: relative;
}

.bannerFooter {
    width: 1515px;
    height: 304px;
    position: absolute;
    z-index: 2;
    margin-left: 202.5px;
}

.getStarted {
    width: 1516px;
    height: 304px;
    margin-left: 250px;
    bottom: 645px;
    margin-top: 138px;
    position: relative;
    display: block;
}
.firstSqr {
    background-color: #F24C27;
    border-radius: 0px 0px 0px 12px;
    width: 32px;
    height: 32px;
    position: absolute;
}

.secondSqr {
    width: 1420px;
    height: 304px;
    background-color: #232ED1;
    margin-left: 54px;
    display: flex;
    border-radius: 0px 12px 0px 12px;
    align-self: center;
}

.secondSqr > h1 {
    width: 460px;
    height: 102px;
    font-size: 48px;
    color: #fff;
    margin-left: 75px;
    margin-top: 75px;
}

.secondSqr > button{
    width: 256px;
    height: 72px;
    border-radius: 12px;
    color: #fff;
    background-color: #F24C27;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 115px;
    margin-right: 151px;
}

.thirdSqr {
    background-color:#232ED1;
    width: 16px;
    height: 16px;
    border-radius: 0px 0px 6px 0px;
    margin-right: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.foot {
    width: 1920px;
    height: 795px;
    background-color: #EFF0F8;
    margin-top: 292px;
}

.contactFooter {
    width: 1920px;
    height: 795px;
    background-color:#EFF0F8;
    z-index: 1;
    position: absolute;
    margin-top: 155px;
    margin-bottom: 75px;
}

.firstSideContact {
    margin-top: 277px;
    display: flex;
    flex-direction: row;
    width: 1420px;
    height: 304px;
}

.logoFooter {
    font-size: 36px;
    font-weight: bold;
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;

}

.firstColumn {
    width: 157px;
    height: 228px;
    margin-left: 0px;
}

.socialLogo {
    margin-left: 0px;
    font-size: 30px;
    color: #5B5B5B;
    text-align: left;
}

.secondColumn {
    width: 111px;
    height: 228px;
    margin-right: 88px;
}

.secondColumn > h1 {
    text-align: left;
}

.thirdColumn {
    width: 140px;
    height: 228px;
    margin-right: 88px;
}

.thirdColumn > h1 {
    text-align: left;
}

.fourthColumn {
    width: 159px;
    height: 228px;
    margin-right: 0px;
}

.fourthColumn > h1 {
    text-align: left;
}

.secondSideContact {
    width: 1414px;
    height: 89px;
    margin-top: 40px;
    display: flex;
}

.secondSideContact > p {
    margin-left: 0px;
    font-size: 24px;
    width: 386px;
    height: 35px;
    margin-top: 27px;
}

.smallerP {
    margin-top: 60px;
}

.smallerP > p {
    margin-bottom: 30px;
    text-align: left;
}
.smallerP > p > a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    text-align: left;
}

input[type="text"] {
    color: #000;
    border: transparent;
    width: 845px;
    height: 89px;
    font-size: 18px;
    margin-right: 0px;
    border-radius: 12px;

}

input[placeholder="Enter Your Email"] {
    padding-left: 31px;
}

input[type="text"]:focus::placeholder {
    color: transparent;
    border: transparent;
}

input[type="submit"] {
    background-color: #F24C27;
    color: #fff;
    width: 325px;
    height: 67px;
    border: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    position: absolute; 
    bottom: 15%; 
    right: 0;
    z-index: 1;
}

.formtns {
    position: relative;
    width: 845px;
    height: 92px;
}


/*Coppy Right*/
.coppyright {
    background-color: #232ED1;
    color: #fff;
    font-size: 18px;
    width: 1920px;
    height: 66px;
    align-items: center;
    display: flex;
}

.coppyright > p {
    align-items: center;
    text-align: center;
}